.btn--white{
    @include button($color-gray-4, $color-white-0, $color-white-0, $fw-bold-0, $pd-1 + 2, $pd-2 - 5);
    border: 1px solid $color-gray-4;
}
.btn--red{
    @include button($color-white-0, $color-red-0, #992337, $fw-bold-0, $pd-1 + 2, $pd-2 - 5);
    border: 1px solid transparent;
    &:hover{
        color: $color-white-0;
    }
}